

<hr />
<div class="row">
	<div class="form-group">
  <label for="comment">Messages</label>
  <textarea class="form-control" rows="10" id="messages" readonly name="messages">{{messages.join('\n')}}</textarea>
</div>
			 

		</div>
<div class="row">
			<div class="col-md-12 ">
					 <div class="input-group">
      <input type="text" id="message" class="form-control" [(ngModel)]="message" name="message" placeholder="Input message..." (keyup.enter)="sendMessage()">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" (click)="sendMessage()"><span class="fa fa-envelope"> </span>SUBMIT</button>
      </span>
    </div><!-- /input-group -->
			</div>
		</div>
	

	
<br />
<div class="center">
	

	<h3><b>Total.js and Angular2 with socket.io</b></h3>
		The node.js framework for all web developers with everything what you need.
</div>
<br />
<br />